In [1]:
# EXERCISE 1: Creating DataFrame

In [2]:
import pandas as pd
import numpy as np

In [6]:
# Create DataFrame from NUmpy array
data_array = np.array([
    ['Blue', [1, 2], 1.1],
    ['Red', [3, 4], 2.2],
    ['Pink', [5, 6], 3.3],
    ['Grey', [7, 8], 4.4],
    ['Black', [9, 10], 5.5]
], dtype=object)

df_from_array = pd.DataFrame(
    data_array,
    index=[1, 3, 5, 7, 9],
    columns=['color', 'list', 'number']
)
df_from_array

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

In [8]:
# Method 2: From Pandas Series
color_series = pd.Series(['Blue', 'Red', 'Pink', 'Grey', 'Black'], index=[1, 3, 5, 7, 9])
list_series = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], index=[1, 3, 5, 7, 9])
number_series = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index=[1, 3, 5, 7, 9])

df_from_series = pd.DataFrame({
    'color': color_series,
    'list': list_series,
    'number': number_series
})

df_from_series

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5