In [1]:
# EXERCISE 1: Creating DataFrame

In [2]:
import pandas as pd
import numpy as np

In [6]:
# Create DataFrame from NUmpy array
data_array = np.array([
    ['Blue', [1, 2], 1.1],
    ['Red', [3, 4], 2.2],
    ['Pink', [5, 6], 3.3],
    ['Grey', [7, 8], 4.4],
    ['Black', [9, 10], 5.5]
], dtype=object)

df_from_array = pd.DataFrame(
    data_array,
    index=[1, 3, 5, 7, 9],
    columns=['color', 'list', 'number']
)
df_from_array

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

In [8]:
# Method 2: From Pandas Series
color_series = pd.Series(['Blue', 'Red', 'Pink', 'Grey', 'Black'], index=[1, 3, 5, 7, 9])
list_series = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]], index=[1, 3, 5, 7, 9])
number_series = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5], index=[1, 3, 5, 7, 9])

df_from_series = pd.DataFrame({
    'color': color_series,
    'list': list_series,
    'number': number_series
})

df_from_series

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [11]:
# Data as specified
data = {
    'color': ['Blue', 'Red', 'Pink', 'Grey', 'Black'],
    'list': [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]],
    'number': [1.1, 2.2, 3.3, 4.4, 5.5]
}
index = [1, 3, 5, 7, 9]

# Method 3: From dictionary
df1 = pd.DataFrame(data, index=index)
df1

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [19]:
# 1. Check index
assert df_from_series.index.tolist() == [1, 3, 5, 7, 9], "Index is incorrect!"
assert df_from_array.index.tolist() == [1, 3, 5, 7, 9], "Index is incorrect!"

In [26]:
# 2. Check column types (each column is a Series)
print("Column types (should all be pandas Series):")
for col in df_from_series.columns:
    print(f"{col}: {type(df_from_series[col])}")

Column types (should all be pandas Series):
color: <class 'pandas.core.series.Series'>
list: <class 'pandas.core.series.Series'>
number: <class 'pandas.core.series.Series'>

In [25]:
print("\nType of first values:")
print(f"color: {type(df1['color'].iloc[0])}")
print(f"list:  {type(df1['list'].iloc[0])}")
print(f"number: {type(df1['number'].iloc[0])}")

Type of first values:
color: <class 'str'>
list:  <class 'list'>
number: <class 'numpy.float64'>