In [1]:
# Exercise 2: Electric Power consumption

In [33]:
import pandas as pd

In [34]:
pd.__version__

'2.3.2'

In [75]:
# Load data set
def load_power_data():
    df = pd.read_csv('household_power_consumption.txt',
                      sep=';', 
                      low_memory=False,
                    # parse_dates={'DateTime': ['Date']},
                      na_values=['?'])
    return df

In [98]:
# main analysis
## for full dataset "wget https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt"
load_power_data()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [77]:
# 1. Delete specified columns
df = load_power_data()
df.shape

(2075259, 9)

In [78]:
df = df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, errors='ignore')
df.shape
df

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,4.216,0.418,234.84,18.4,0.0
1,16/12/2006,5.360,0.436,233.63,23.0,0.0
2,16/12/2006,5.374,0.498,233.29,23.0,0.0
3,16/12/2006,5.388,0.502,233.74,23.0,0.0
4,16/12/2006,3.666,0.528,235.68,15.8,0.0
...,...,...,...,...,...,...
2075254,26/11/2010,0.946,0.000,240.43,4.0,0.0
2075255,26/11/2010,0.944,0.000,240.00,4.0,0.0
2075256,26/11/2010,0.938,0.000,239.82,3.8,0.0
2075257,26/11/2010,0.934,0.000,239.70,3.8,0.0
2075258,26/11/2010,0.932,0.000,239.55,3.8,0.0

In [79]:
# 2. Set Date as index
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.set_index('Date', inplace=True)

In [80]:
print(df.head().index)

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [81]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [82]:
 # Question 3: Update types to float64 using pd.to_numeric
numeric_columns = ['Global_active_power', 'Global_reactive_power', 
                      'Voltage', 'Global_intensity', 'Sub_metering_1']
    
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [83]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [84]:
# Question 4: Use describe for overview
print("4. Dataset overview using describe():")
print(df.describe())
print()

4. Dataset overview using describe():
       Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1
count      2.049280e+06    2.049280e+06
mean       4.627759e+00    1.121923e+00
std        4.444396e+00    6.153031e+00
min        2.000000e-01    0.000000e+00
25%        1.400000e+00    0.000000e+00
50%        2.600000e+00    0.000000e+00
75%        6.400000e+00    0.000000e+00
max        4.840000e+01    8.800000e+01

In [85]:
# Question 5: Delete rows with missing values
# Confirm presence of missing values
assert df.isna().sum().sum() != 0

In [86]:
df.dropna(inplace=True)

In [87]:
# Confirm no presence of missing values
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [88]:
## Question 6: Modify Sub_metering_1 using loc (to avoid SettingWithCopyWarning)
df.loc[:, 'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06

In [89]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.4,0.06
2006-12-16,5.360,0.436,233.63,23.0,0.06
2006-12-16,5.374,0.498,233.29,23.0,0.06
2006-12-16,5.388,0.502,233.74,23.0,0.06
2006-12-16,3.666,0.528,235.68,15.8,0.06
...,...,...,...,...,...
2010-11-26,0.946,0.000,240.43,4.0,0.06
2010-11-26,0.944,0.000,240.00,4.0,0.06
2010-11-26,0.938,0.000,239.82,3.8,0.06
2010-11-26,0.934,0.000,239.70,3.8,0.06
2010-11-26,0.932,0.000,239.55,3.8,0.06

In [90]:
# Question 7: Filter rows: Date >= '2008-12-27' AND Voltage >= 242
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
filtered_df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2008-12-27,0.996,0.066,244.81,4.0,0.06
2008-12-27,1.076,0.162,244.78,4.4,0.06
2008-12-27,1.064,0.172,244.74,4.4,0.06
2008-12-27,1.070,0.174,245.28,4.4,0.06
2008-12-27,0.804,0.184,246.30,3.4,0.06
...,...,...,...,...,...
2010-11-26,0.522,0.214,242.91,2.2,0.06
2010-11-26,0.518,0.214,242.55,2.2,0.06
2010-11-26,0.514,0.212,242.15,2.2,0.06
2010-11-26,0.514,0.218,242.57,2.2,0.06
2010-11-26,0.704,0.146,242.18,2.8,0.06

In [92]:
# Question 8: Print the 88888th row
row_88888 = df.iloc[88887]
row_88888

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [93]:
# 9. Date of maximum Global_active_power
max_date = df["Global_active_power"].idxmax()
max_date

Timestamp('2009-02-22 00:00:00')

In [94]:
# 10. Sort first 3 columns
sorted_df = df.sort_values(
    by=["Global_active_power", "Voltage"],
    ascending=[False, True]
)[["Global_active_power", "Global_reactive_power", "Voltage"]]

In [95]:
print(sorted_df.tail())

            Global_active_power  Global_reactive_power  Voltage
Date
2008-08-28                0.076                    0.0   234.88
2008-08-28                0.076                    0.0   235.18
2008-08-28                0.076                    0.0   235.40
2008-08-28                0.076                    0.0   235.64
2008-08-12                0.076                    0.0   236.50

In [96]:
# 11. Daily average Global_active_power
daily_avg = df["Global_active_power"].resample("D").mean()
# daily_avg = df['Global_active_power'].groupby(df.index.date).mean()
daily_avg

Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Freq: D, Name: Global_active_power, Length: 1442, dtype: float64