In [1]:
# Exercise 2: Electric Power consumption

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.2'

In [4]:
# Load data set
def load_power_data():
    df = pd.read_csv('household_power_consumption.txt',
                      sep=';', 
                      low_memory=False,
                    # parse_dates={'DateTime': ['Date']},
                      na_values='?')
    return df

In [5]:
# main analysis
load_power_data()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
131281,31/1/2007,07:22:00,0.700,0.136,240.84,3.0,0.0,0.0,0.0
131282,31/1/2007,07:23:00,0.698,0.134,240.81,3.0,0.0,0.0,0.0
131283,31/1/2007,07:24:00,0.706,0.134,240.60,3.0,0.0,0.0,0.0
131284,31/1/2007,07:25:00,0.698,0.122,241.60,3.0,0.0,0.0,0.0
131285,31/1/2007,07:26:00,0.638,0.000,241.46,2.6,0.0,0.0,0.0

In [6]:
# 1. Delete specified columns
df = load_power_data()
df.shape

(131286, 9)

In [7]:
df = df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, errors='ignore')
df.shape
df

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,4.216,0.418,234.84,18.4,0.0
1,16/12/2006,5.360,0.436,233.63,23.0,0.0
2,16/12/2006,5.374,0.498,233.29,23.0,0.0
3,16/12/2006,5.388,0.502,233.74,23.0,0.0
4,16/12/2006,3.666,0.528,235.68,15.8,0.0
...,...,...,...,...,...,...
131281,31/1/2007,0.700,0.136,240.84,3.0,0.0
131282,31/1/2007,0.698,0.134,240.81,3.0,0.0
131283,31/1/2007,0.706,0.134,240.60,3.0,0.0
131284,31/1/2007,0.698,0.122,241.60,3.0,0.0
131285,31/1/2007,0.638,0.000,241.46,2.6,0.0

In [8]:
# 2. Set Date as index
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.set_index('Date', inplace=True)

In [9]:
print(df.head().index)

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [14]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [15]:
 # Question 3: Update types to float64 using pd.to_numeric
numeric_columns = ['Global_active_power', 'Global_reactive_power', 
                      'Voltage', 'Global_intensity', 'Sub_metering_1']
    
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [16]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [25]:
# Question 4: Use describe for overview
print("4. Dataset overview using describe():")
print(df.describe())
print()

4. Dataset overview using describe():
       Global_active_power  Global_reactive_power        Voltage  \
count        131274.000000          131274.000000  131274.000000
mean              1.655605               0.132055     241.117835
std               1.345984               0.118481       3.624177
min               0.194000               0.000000     224.680000
25%               0.394000               0.000000     238.670000
50%               1.424000               0.122000     241.420000
75%               2.428000               0.198000     243.730000
max               9.272000               0.874000     251.700000

       Global_intensity  Sub_metering_1
count     131274.000000   131274.000000
mean           7.004540        1.278136
std            5.673416        6.655215
min            0.800000        0.000000
25%            1.800000        0.000000
50%            6.000000        0.000000
75%           10.000000        0.000000
max           40.400000       77.000000

In [32]:
# Question 5: Delete rows with missing values
# Confirm presence of missing values
assert df.isna().sum().sum() != 0

AssertionError:

In [28]:
df.dropna(inplace=True)

In [31]:
# Confirm no presence of missing values
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64