In [1]:
# Exercise 2: Electric Power consumption

In [33]:
import pandas as pd

In [34]:
pd.__version__

'2.3.2'

In [35]:
# Load data set
def load_power_data():
    df = pd.read_csv('household_power_consumption.txt',
                      sep=';', 
                      low_memory=False,
                    # parse_dates={'DateTime': ['Date']},
                      na_values='?')
    return df

In [36]:
# main analysis
load_power_data()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
131281,31/1/2007,07:22:00,0.700,0.136,240.84,3.0,0.0,0.0,0.0
131282,31/1/2007,07:23:00,0.698,0.134,240.81,3.0,0.0,0.0,0.0
131283,31/1/2007,07:24:00,0.706,0.134,240.60,3.0,0.0,0.0,0.0
131284,31/1/2007,07:25:00,0.698,0.122,241.60,3.0,0.0,0.0,0.0
131285,31/1/2007,07:26:00,0.638,0.000,241.46,2.6,0.0,0.0,0.0

In [37]:
# 1. Delete specified columns
df = load_power_data()
df.shape

(131286, 9)

In [38]:
df = df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, errors='ignore')
df.shape
df

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,4.216,0.418,234.84,18.4,0.0
1,16/12/2006,5.360,0.436,233.63,23.0,0.0
2,16/12/2006,5.374,0.498,233.29,23.0,0.0
3,16/12/2006,5.388,0.502,233.74,23.0,0.0
4,16/12/2006,3.666,0.528,235.68,15.8,0.0
...,...,...,...,...,...,...
131281,31/1/2007,0.700,0.136,240.84,3.0,0.0
131282,31/1/2007,0.698,0.134,240.81,3.0,0.0
131283,31/1/2007,0.706,0.134,240.60,3.0,0.0
131284,31/1/2007,0.698,0.122,241.60,3.0,0.0
131285,31/1/2007,0.638,0.000,241.46,2.6,0.0

In [39]:
# 2. Set Date as index
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.set_index('Date', inplace=True)

In [40]:
print(df.head().index)

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [41]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [42]:
 # Question 3: Update types to float64 using pd.to_numeric
numeric_columns = ['Global_active_power', 'Global_reactive_power', 
                      'Voltage', 'Global_intensity', 'Sub_metering_1']
    
for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [43]:
print(df.dtypes)

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

In [44]:
# Question 4: Use describe for overview
print("4. Dataset overview using describe():")
print(df.describe())
print()

4. Dataset overview using describe():
       Global_active_power  Global_reactive_power        Voltage  \
count        131274.000000          131274.000000  131274.000000
mean              1.655605               0.132055     241.117835
std               1.345984               0.118481       3.624177
min               0.194000               0.000000     224.680000
25%               0.394000               0.000000     238.670000
50%               1.424000               0.122000     241.420000
75%               2.428000               0.198000     243.730000
max               9.272000               0.874000     251.700000

       Global_intensity  Sub_metering_1
count     131274.000000   131274.000000
mean           7.004540        1.278136
std            5.673416        6.655215
min            0.800000        0.000000
25%            1.800000        0.000000
50%            6.000000        0.000000
75%           10.000000        0.000000
max           40.400000       77.000000

In [45]:
# Question 5: Delete rows with missing values
# Confirm presence of missing values
assert df.isna().sum().sum() != 0

In [46]:
df.dropna(inplace=True)

In [47]:
# Confirm no presence of missing values
df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
dtype: int64

In [48]:
## Question 6: Modify Sub_metering_1 using loc (to avoid SettingWithCopyWarning)
df.loc[:, 'Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06

In [49]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2006-12-16,4.216,0.418,234.84,18.4,0.06
2006-12-16,5.360,0.436,233.63,23.0,0.06
2006-12-16,5.374,0.498,233.29,23.0,0.06
2006-12-16,5.388,0.502,233.74,23.0,0.06
2006-12-16,3.666,0.528,235.68,15.8,0.06
...,...,...,...,...,...
2007-01-31,0.700,0.136,240.84,3.0,0.06
2007-01-31,0.698,0.134,240.81,3.0,0.06
2007-01-31,0.706,0.134,240.60,3.0,0.06
2007-01-31,0.698,0.122,241.60,3.0,0.06
2007-01-31,0.638,0.000,241.46,2.6,0.06

In [52]:
# Question 7: Filter rows: Date >= '2008-12-27' AND Voltage >= 242
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
filtered_df

Empty DataFrame
Columns: [Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1]
Index: []

In [55]:
# Question 8: Print the 88888th row
row_88888 = df.iloc[88888]
row_88888

Global_active_power        0.472
Global_reactive_power      0.142
Voltage                  238.810
Global_intensity           2.000
Sub_metering_1             0.060
Name: 2007-01-01 00:00:00, dtype: float64

In [60]:
# 9. Date of maximum Global_active_power
max_date = df["Global_active_power"].idxmax()
max_date

Timestamp('2007-01-13 00:00:00')

In [68]:
# 10. Sort first 3 columns
sorted_df = df.sort_values(
    by=["Global_active_power", "Voltage"],
    ascending=[False, True]
)[["Global_active_power", "Global_reactive_power", "Voltage"]]

In [70]:
print(sorted_df.tail())

            Global_active_power  Global_reactive_power  Voltage
Date
2006-12-21                0.194                    0.0   238.22
2006-12-19                0.194                    0.0   238.25
2006-12-19                0.194                    0.0   238.25
2006-12-21                0.194                    0.0   238.69
2006-12-21                0.194                    0.0   238.69

In [73]:
# 11. Daily average Global_active_power
# daily_avg = df["Global_active_power"].resample("D").mean()
daily_avg = df['Global_active_power'].groupby(df.index.date).mean()
daily_avg

2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
2006-12-21    1.193758
2006-12-22    1.625929
2006-12-23    3.314851
2006-12-24    1.770842
2006-12-25    1.904944
2006-12-26    2.732021
2006-12-27    1.061639
2006-12-28    1.439332
2006-12-29    2.204439
2006-12-30    1.939709
2006-12-31    2.426525
2007-01-01    1.909031
2007-01-02    0.881414
2007-01-03    0.704204
2007-01-04    2.263481
2007-01-05    1.884281
2007-01-06    1.047485
2007-01-07    1.699736
2007-01-08    1.556500
2007-01-09    1.297954
2007-01-10    1.496389
2007-01-11    1.566107
2007-01-12    1.014789
2007-01-13    2.213065
2007-01-14    2.090213
2007-01-15    1.492137
2007-01-16    1.171114
2007-01-17    1.977561
2007-01-18    1.264904
2007-01-19    1.028083
2007-01-20    2.176203
2007-01-21    2.366154
2007-01-22    1.514232
2007-01-23    1.234472
2007-01-24    2.074899
2007-01-25    1.108572
2007-01-26    1.123592
2007-01-27    1.419494
2007-01-28    2.147466
2007-01-29    1.376850
2007-01-30    1.185971
2007-01-31    0.464300
Name: Global_active_power, dtype: float64