In [1]:
# Exercise 2: Electric Power consumption

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.2'

In [35]:
# Load data set
def load_power_data():
    df = pd.read_csv('household_power_consumption.txt',
                      sep=';', 
                      low_memory=False,
                    # parse_dates={'DateTime': ['Date']},
                      na_values='?')
    return df

In [36]:
# main analysis
load_power_data()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
131281,31/1/2007,07:22:00,0.700,0.136,240.84,3.0,0.0,0.0,0.0
131282,31/1/2007,07:23:00,0.698,0.134,240.81,3.0,0.0,0.0,0.0
131283,31/1/2007,07:24:00,0.706,0.134,240.60,3.0,0.0,0.0,0.0
131284,31/1/2007,07:25:00,0.698,0.122,241.60,3.0,0.0,0.0,0.0
131285,31/1/2007,07:26:00,0.638,0.000,241.46,2.6,0.0,0.0,0.0

In [42]:
# 1. Delete specified columns
df = load_power_data()
df.shape

(131286, 9)

In [43]:
df = df.drop(['Time', 'Sub_metering_2', 'Sub_metering_3'], axis=1, errors='ignore')
df.shape
df

,Date,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
0,16/12/2006,4.216,0.418,234.84,18.4,0.0
1,16/12/2006,5.360,0.436,233.63,23.0,0.0
2,16/12/2006,5.374,0.498,233.29,23.0,0.0
3,16/12/2006,5.388,0.502,233.74,23.0,0.0
4,16/12/2006,3.666,0.528,235.68,15.8,0.0
...,...,...,...,...,...,...
131281,31/1/2007,0.700,0.136,240.84,3.0,0.0
131282,31/1/2007,0.698,0.134,240.81,3.0,0.0
131283,31/1/2007,0.706,0.134,240.60,3.0,0.0
131284,31/1/2007,0.698,0.122,241.60,3.0,0.0
131285,31/1/2007,0.638,0.000,241.46,2.6,0.0

In [44]:
# 2. Set Date as index
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df.set_index('Date', inplace=True)

In [45]:
print(df.head().index)

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)