In [1]:
# Exercise 3: E-Commerce Purchases

In [8]:
import pandas as pd

In [9]:
# Load the data set
df = pd.read_csv("Ecommerce_purchases.txt")

# Q1: How many rows and columns are there?
df.shape #(rows, cols)

(10000, 14)

In [11]:
# Q2: Average Purchase Price
df_mean = df["Purchase Price"].mean()
print("Average purchase price: ", df_mean)

Average purchase price:  50.347302

In [19]:
# Q3: Highest and the lowest purchase prices
df_max = df["Purchase Price"].max()
df_min = df["Purchase Price"].min()
df_max, df_min

(np.float64(99.99), np.float64(0.0))

In [21]:
# Q4: Count for English 'en' as language 
df[df['Language'] == 'en'].shape[0]

1098

In [22]:
# Q5: Count for people with "lawyer" as job title
df[df["Job"] == "Lawyer"].shape[0]

30

In [23]:
# Q6: Number of people making purchases in AM and PM
df["AM or PM"].value_counts()

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [24]:
# Q7: List 5 most common job titles
df["Job"].value_counts().head(5)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

In [25]:
# Q8: Purchase price for Lot: "90 WT"
df[df["Lot"] == "90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

In [26]:
## Q9: the email of the person with Credit Card Number: 4926535242672853
df[df["Credit Card"] == 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [27]:
## Q10: Number of  people have American Express as their Credit Card Provider and 
## made a purchase above $95
df[(df["CC Provider"] == "American Express") & (df["Purchase Price"] > 95)].shape[0]

39

In [30]:
## Q11: Number of people with credit card that expires in 2025
df['CC Exp Date'].apply(lambda x: x.split('/')[1]) \
   .value_counts()['25']

np.int64(1033)

In [31]:
## Q12: Top 5 most popular email providers/hosts
df["Email"].apply(lambda x: x.split("@")[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64